/*colors*/
/*breakpoints*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: Oswald, "sans-serif";
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000000;
}

.container {
  max-width: 150rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

@font-face {
  font-family: Maple;
  src: url(/MapleMono-Regular.ttf);
}
body {
  background: linear-gradient(120deg, #A078FD, #E0A537);
  background-repeat: no-repeat;
  font-family: "Inter", serif;
}

.separator {
  display: flex;
  position: relative;
  align-items: center;
  width: 50rem;
}
.separator span {
  height: 2px;
  width: 100%;
  background: #000000;
}
.separator .diamonds {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.separator .diamonds i {
  font-size: 1.5rem;
}
.separator .center {
  display: flex;
  align-items: center;
  justify-self: center;
}
.separator .center i:nth-of-type(2) {
  font-size: 3rem;
}

#bio {
  padding: 6rem 0;
  padding-top: 16rem;
}
#bio .bio_wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}
#bio .khytze {
  display: flex;
  flex-direction: column;
  width: 70rem;
  gap: 10rem;
}
#bio .khytze_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bio .khytze_info p {
  font-size: 2rem;
  width: 68.5%;
}
#bio .khytze_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
#bio .khytze_image img {
  width: 100%;
}
#bio .khytze h2 {
  font-size: 3.6rem;
}
#bio .chelsey {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70rem;
  gap: 10rem;
}
#bio .chelsey_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bio .chelsey_info p {
  font-size: 2rem;
  width: 68.5%;
}
#bio .chelsey_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
#bio .chelsey_image img {
  width: 100%;
}
#bio .chelsey h2 {
  font-size: 3.6rem;
  margin-right: 5.8rem;
}
#bio .separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
}

#intro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-top: 15rem;
}
#intro .kz {
  display: flex;
  flex-direction: column;
}
#intro .kz_intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#intro .kz_intro h2 {
  font-size: 3.6rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 15px;
}
#intro .kz_intro p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
#intro .ac {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -45rem;
}
#intro .ac_intro {
  width: 40%;
  display: flex;
  flex-direction: column;
}
#intro .ac_intro h2 {
  font-size: 3.6rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 15px;
}
#intro .ac_intro p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
#intro .separator {
  position: absolute;
  top: 41rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

#projects {
  padding-top: 15rem;
}
#projects h2 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
#projects .projects_shared h2 {
  font-size: 2.8rem;
}
#projects .projects_individual h2 {
  font-size: 2.8rem;
}
#projects .projects_individual_content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#projects .projects_individual .separator {
  position: absolute;
  width: 80rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
#projects .projects_khytze, #projects .projects_chelsey {
  max-width: 68.5rem;
}
#projects .shared_project {
  padding: 2rem 0;
  display: flex;
  gap: 4rem;
}
#projects .shared_project_img {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-right: 8rem;
  height: -moz-max-content;
  height: max-content;
}
#projects .shared_project_img img {
  width: 35rem;
  border-radius: 1rem;
  z-index: 3;
}
#projects .shared_project_img img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
}
#projects .shared_project_text {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  text-align: justify;
  gap: 2rem;
}
#projects .shared_project_text p {
  font-size: 1.8rem;
}
#projects .individual_project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#projects .individual_project_text p {
  text-align: justify;
}
#projects .individual_project_img img {
  max-width: 68.5rem;
}

#skills {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}
#skills .skills_wrapper h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
#skills .chan {
  display: flex;
  flex-direction: column;
}
#skills .chan_skills {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#skills .chan_skills p {
  font-size: 1.8rem;
  text-align: left;
}
#skills .ally {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -20rem;
}
#skills .ally_skills {
  width: 40%;
  display: flex;
  flex-direction: column;
}
#skills .ally_skills p {
  font-size: 1.8rem;
  text-align: right;
}
#skills .separator {
  position: absolute;
  width: 68rem;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
}

#contacts {
  padding: 6rem 0;
}
#contacts .contacts_wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}
#contacts .khytze {
  display: flex;
  flex-direction: column;
  width: 70rem;
  gap: 10rem;
  margin-bottom: 15rem;
}
#contacts .khytze_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 68.2%;
}
#contacts .khytze_text ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contacts .khytze_text ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#contacts .khytze_text ul li:last-of-type {
  gap: 1.75rem;
}
#contacts .khytze_text ul li i {
  font-size: 2rem;
}
#contacts .khytze_text ul li a {
  font-size: 2rem;
}
#contacts .khytze_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contacts .khytze_info p {
  font-size: 2rem;
}
#contacts .khytze_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
#contacts .khytze_image img {
  width: 100%;
}
#contacts .khytze h2 {
  font-size: 3.2rem;
}
#contacts .chelsey {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70rem;
  gap: 10rem;
  margin-top: 15rem;
}
#contacts .chelsey_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 8rem;
}
#contacts .chelsey_text ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contacts .chelsey_text ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#contacts .chelsey_text ul li:last-of-type {
  gap: 1.75rem;
}
#contacts .chelsey_text ul li i {
  font-size: 2rem;
}
#contacts .chelsey_text ul li a {
  font-size: 2rem;
}
#contacts .chelsey_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contacts .chelsey_info p {
  font-size: 2rem;
}
#contacts .chelsey_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
#contacts .chelsey_image img {
  width: 100%;
}
#contacts .chelsey h2 {
  font-size: 3.2rem;
}
#contacts .separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
  width: 40rem;
}

.footer {
  width: 100%;
  padding: 4rem 0;
  background: rgba(2, 2, 2, 0.8);
}
.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .branding {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .branding img {
  width: 10rem;
}
.footer .branding h4 {
  font-size: 1.4rem;
  color: #6d6d6d;
}
.footer_nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 12rem;
  gap: 8px;
}
.footer_nav ul li a {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
}
.footer_nav ul li a:first-child {
  margin-right: 8rem;
}
.footer_nav ul li a:hover {
  text-decoration: underline;
}
.footer .elec {
  position: relative;
  height: -moz-max-content;
  height: max-content;
  border-radius: 2rem;
  padding: 3rem 2rem;
}
.footer .elec::before {
  content: " ";
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2rem;
  background: linear-gradient(120deg, #A078FD, #E0A537);
  background-size: 250% 250%;
  animation: gradient 10s ease infinite;
}
.footer .elec::after {
  content: " ";
  display: flex;
  position: absolute;
  width: 98%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 1.4rem;
  background: #2C2111;
}
.footer .elec h2 {
  position: relative;
  z-index: 3;
  color: #ffffff;
}
.footer .elec h2:first-of-type {
  margin-bottom: 1rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  width: 100%;
  position: fixed;
  background: rgba(2, 2, 2, 0.8);
  z-index: 9999;
}
.header_wrapper {
  position: relative;
  padding: 1.75rem 0;
}
.header_wrapper .branding {
  top: 0;
  left: 0;
  position: absolute;
}
.header_wrapper .branding img {
  width: 7rem;
}
.header_nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header_nav ul {
  display: flex;
  gap: 10rem;
}
.header_nav ul li a {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}
.header_nav ul li a.in_touch {
  color: #000000;
  font-weight: 500;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  background: linear-gradient(120deg, #A078FD, #E0A537);
  background-size: 250% 250%;
  animation: gradient 10s ease infinite;
  box-shadow: transparent 0px 4px 12px, transparent 0px -12px 12px, transparent 0px 4px 6px, transparent 0px 12px 13px, transparent 0px -3px 5px;
  transition: 0.25s ease-in-out;
}
.header_nav ul li a.in_touch:hover {
  box-shadow: rgba(255, 238, 140, 0.3) 0px 4px 12px, rgba(255, 238, 140, 0.3) 0px -12px 12px, rgba(255, 238, 140, 0.3) 0px 4px 6px, rgba(255, 238, 140, 0.3) 0px 12px 13px, rgba(255, 238, 140, 0.3) 0px -3px 5px;
}
.header_nav ul li a:hover {
  text-decoration: underline;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=main.css.map */