/*colors*/
/*breakpoints*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: Oswald, "sans-serif";
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000000;
}

.container {
  max-width: 150rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

@font-face {
  font-family: Maple;
  src: url(/MapleMono-Regular.ttf);
}
body {
  background: linear-gradient(120deg, #A078FD, #E0A537);
  background-repeat: no-repeat;
  font-family: "Inter", serif;
}

.separator {
  display: flex;
  position: relative;
  align-items: center;
  width: 50rem;
}
.separator span {
  height: 2px;
  width: 100%;
  background: #000000;
}
.separator .diamonds {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.separator .diamonds i {
  font-size: 1.5rem;
}
.separator .center {
  display: flex;
  align-items: center;
  justify-self: center;
}
.separator .center i:nth-of-type(2) {
  font-size: 3rem;
}

.bio {
  padding: 6rem 0;
  padding-top: 16rem;
}
.bio_wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.bio .khytze {
  display: flex;
  flex-direction: column;
  width: 70rem;
  gap: 10rem;
}
.bio .khytze_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bio .khytze_info p {
  font-size: 2rem;
  width: 68.5%;
}
.bio .khytze_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
.bio .khytze_image img {
  width: 100%;
}
.bio .khytze h2 {
  font-size: 3.6rem;
}
.bio .chelsey {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70rem;
  gap: 10rem;
}
.bio .chelsey_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bio .chelsey_info p {
  font-size: 2rem;
  width: 68.5%;
}
.bio .chelsey_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
.bio .chelsey_image img {
  width: 100%;
}
.bio .chelsey h2 {
  font-size: 3.6rem;
  margin-right: 5.8rem;
}
.bio .separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;
  margin-bottom: 15rem;
}
.intro .kz {
  display: flex;
  flex-direction: column;
}
.intro .kz_intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.intro .kz_intro h2 {
  font-size: 3.6rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 15px;
}
.intro .kz_intro p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
.intro .ac {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -45rem;
}
.intro .ac_intro {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.intro .ac_intro h2 {
  font-size: 3.6rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 15px;
}
.intro .ac_intro p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
}
.intro .separator {
  position: absolute;
  top: 108%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.projects h2 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.projects_shared h2 {
  font-size: 2.8rem;
}
.projects_individual h2 {
  font-size: 2.8rem;
}
.projects_individual_content {
  position: relative;
}
.projects .shared_project {
  padding: 2rem 0;
  display: flex;
  gap: 4rem;
}
.projects .shared_project_img {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-right: 8rem;
  height: -moz-max-content;
  height: max-content;
}
.projects .shared_project_img img {
  width: 35rem;
  border-radius: 1rem;
  z-index: 3;
}
.projects .shared_project_img img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 8rem;
  transform: translateY(-50%);
}
.projects .shared_project_text {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  text-align: justify;
  gap: 2rem;
}
.projects .shared_project_text p {
  font-size: 1.8rem;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15rem;
  margin-bottom: 20rem;
}
.skills_wrapper h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.skills .chan {
  display: flex;
  flex-direction: column;
}
.skills .chan_skills {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skills .chan_skills p {
  font-size: 1.8rem;
  text-align: left;
}
.skills .ally {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -14rem;
}
.skills .ally_skills {
  width: 38%;
  display: flex;
  flex-direction: column;
}
.skills .ally_skills p {
  font-size: 1.8rem;
  text-align: right;
}
.skills .separator {
  position: absolute;
  width: 68rem;
  top: 319%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
}

.contacts {
  padding: 6rem 0;
}
.contacts_wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.contacts .khytze {
  display: flex;
  flex-direction: column;
  width: 70rem;
  gap: 10rem;
  margin-bottom: 15rem;
}
.contacts .khytze_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 68.2%;
}
.contacts .khytze_text ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts .khytze_text ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contacts .khytze_text ul li:last-of-type {
  gap: 1.75rem;
}
.contacts .khytze_text ul li i {
  font-size: 2rem;
}
.contacts .khytze_text ul li a {
  font-size: 2rem;
}
.contacts .khytze_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .khytze_info p {
  font-size: 2rem;
}
.contacts .khytze_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
.contacts .khytze_image img {
  width: 100%;
}
.contacts .khytze h2 {
  font-size: 3.2rem;
}
.contacts .chelsey {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70rem;
  gap: 10rem;
  margin-top: 15rem;
}
.contacts .chelsey_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 10rem;
}
.contacts .chelsey_text ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts .chelsey_text ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contacts .chelsey_text ul li:last-of-type {
  gap: 1.75rem;
}
.contacts .chelsey_text ul li i {
  font-size: 2rem;
}
.contacts .chelsey_text ul li a {
  font-size: 2rem;
}
.contacts .chelsey_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .chelsey_info p {
  font-size: 2rem;
}
.contacts .chelsey_image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}
.contacts .chelsey_image img {
  width: 100%;
}
.contacts .chelsey h2 {
  font-size: 3.2rem;
}
.contacts .separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-55deg);
  width: 40rem;
}

.header {
  width: 100%;
  position: fixed;
  background: rgba(2, 2, 2, 0.8);
  z-index: 9999;
}
.header_wrapper {
  position: relative;
  padding: 1.75rem 0;
}
.header_wrapper .branding {
  top: 0;
  left: 0;
  position: absolute;
}
.header_wrapper .branding img {
  width: 7rem;
}
.header_nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header_nav ul {
  display: flex;
  gap: 10rem;
}
.header_nav ul li a {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ffffff;
}
.header_nav ul li a.in_touch {
  color: #000000;
  font-weight: 500;
  padding: 1.25rem 2.5rem;
  border-radius: 10rem;
  background: linear-gradient(120deg, #A078FD, #E0A537);
}/*# sourceMappingURL=main.css.map */