body {
    background: linear-gradient(120deg, #A078FD, #E0A537);
    background-repeat: no-repeat;
    font-family: "Inter", serif;
}

.separator {
    display: flex;
    position: relative;
    align-items: center;
    width: 50rem;
    span {
        height: 2px;
        width: 100%;
        background: $clr-dark;
    }
    .diamonds {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        i {
            font-size: 1.5rem;
        }
    }
    .center {
        display: flex;
        align-items: center;
        justify-self: center;
        i {
            &:nth-of-type(2) {
                font-size: 3rem;
            }
        }
    }
}

#bio {
    padding: 6rem 0;
    padding-top: 16rem;
    .bio_wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .khytze {
        display: flex;
        flex-direction: column;
        width: 70rem;
        gap: 10rem;
        &_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: 2rem;
                width: 68.5%;
            }
        }
        &_image { 
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            border: 2px solid $clr-dark;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h2 {
            font-size: 3.6rem;
        }
    }
    .chelsey {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70rem;
        gap: 10rem;
        &_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: 2rem;
                width: 68.5%;
            }
        }
        &_image { 
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            border: 2px solid $clr-dark;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h2 {
            font-size: 3.6rem;
            margin-right: 5.8rem;
        }
    }
    .separator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-55deg);
    }
}

#intro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-top: 15rem;
    .kz{
        display: flex;
        flex-direction: column;
        &_intro{
            width: 40%;
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
            h2 {
                font-size: 3.6rem;
                font-weight: bold;
                align-self: flex-start; 
                margin-bottom: 15px;
              }
              p {
                font-size: 2rem;
                line-height: 1.5;
                text-align: left; 
              }
        }
    }
    .ac{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -45rem;
        &_intro{
            width: 40%;
            display: flex;
            flex-direction: column; 
           
            h2 {
                font-size: 3.6rem;
                font-weight: bold;
                align-self: flex-start; 
                margin-bottom: 15px;
              }
              p {
                font-size: 2rem;
                line-height: 1.5;
                text-align: left; 
              }
        }
    }
    .separator {
        position: absolute;
        top: 41rem;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

#projects {
    padding-top: 15rem;
    h2 {
        font-size: 3.6rem;
        margin-bottom: 1rem;
    }
    .projects_shared {
        h2 {
            font-size: 2.8rem;
        }
    }
    .projects_individual {
        h2 {
            font-size: 2.8rem;
        }
        &_content {
            position: relative;
            display: flex;
            justify-content: space-between;
        }
        .separator {
            position: absolute;
            width: 80rem;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
        }
    }
    .projects_khytze, .projects_chelsey {
        max-width: 68.5rem;
    }
    .shared_project {
        padding: 2rem 0;
        display: flex;
        gap: 4rem;
        &_img {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            padding-right: 8rem;
            height: max-content;
            img {
                width: 35rem;
                border-radius: 1rem;
                z-index: 3;
                &:nth-of-type(2) {
                    position: absolute;
                    top: 50%;
                    left: 8rem;
                    transform: translateY(-50%);
                }
            }
        }
        &_text {
            display: flex;
            flex-direction: column;
            max-width: 100rem;
            text-align: justify;
            gap: 2rem;
            p {
                font-size: 1.8rem;
            }
        }
    }
    .individual_project {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &_text {
            p {
                text-align: justify;
            }
        }
        &_img {
            img {
                max-width: 68.5rem;
            }
        }
    }
}

#skills {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
    .skills_wrapper{
        h2 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }
    }
    .chan{
        display: flex;
        flex-direction: column;
        &_skills{
            width: 40%;
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
              p {
                font-size: 1.8rem;
                text-align: left; 
              }
        }
    }
    .ally{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -20rem;
        &_skills{
            width: 40%;
            display: flex;
            flex-direction: column; 
              p {
                font-size: 1.8rem;
                text-align: right;
              }
        }
    }
    .separator {
        position: absolute;
        width: 68rem;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-55deg);
    }
}

#contacts {
    padding: 6rem 0;
    .contacts_wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .khytze {
        display: flex;
        flex-direction: column;
        width: 70rem;
        gap: 10rem;
        margin-bottom: 15rem;
        &_text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 68.2%;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    &:last-of-type {
                        gap: 1.75rem;
                    }
                    i {
                        font-size: 2rem;
                    }
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
        &_info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: 2rem;
            }
        }
        &_image { 
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            border: 2px solid $clr-dark;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h2 {
            font-size: 3.2rem;
        }
    }
    .chelsey {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 70rem;
        gap: 10rem;
        margin-top: 15rem;
        &_text {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-right: 8rem;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    &:last-of-type {
                        gap: 1.75rem;
                    }
                    i {
                        font-size: 2rem;
                    }
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
        &_info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                font-size: 2rem;
            }
        }
        &_image { 
            width: 20rem;
            height: 20rem;
            border-radius: 100%;
            border: 2px solid $clr-dark;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h2 {
            font-size: 3.2rem;        
        }
    }
    .separator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-55deg);
        width: 40rem;
    }
}
